{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <title>StandBlog</title>

    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}"  rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/fontawesome.css" %}">
    <link rel="stylesheet" href="{% static "css/templatemo-stand-blog.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.css" %}">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Stand Blog<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <li class="nav-item {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
                  <a class="nav-link" href="{% url "home:home" %}">Home<span class="sr-only">(current)</span></a>
                </li>
              </li> 
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'about_us' %} active {% endif %}" 
                href="{% url "blog:about_us" %}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == "post_list" %} active {% endif %}"
                 href="{% url "blog:post_list" %}">All Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == "detail" %} active {% endif %}" 
                href="">Post Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'contact_us' %} active {% endif %}" 
                href="{% url "blog:contact_us" %}">Contact Us</a>
              </li>
              <li class="nav-item">
                {% if request.user.is_authenticated %}
                  <div class="d-flex">
                    {% if user.profile.image %}
                      <span><img src="{{user.profile.image.url }}" width="30px" height="30px" style="border-radius: 100%"></span>
                    {% else %}
                      <span><img src="{% static 'images/profile.jpg' %}" width="30px" height="30px" style="border-radius: 100%"></span>
                    {% endif%}
                    <a class="nav-link" href="">{{ request.user.username}}</a>
                    <span class="mt-1"><a style="color: black;font-weight: bold; font-size:17.5px" href="{% url 'account:logout' %}">|  Logout</a></span>
                  </div>
                  {% else %}
                  <div class="d-flex">
                  <a class="nav-link" href="{% url 'account:login' %}">Login</a><span class="mt-1">|</span>
                  <a class="nav-link" href="{% url 'account:register' %}">Register</a>
                  </div>
                  {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>