{% extends "home/main.html" %}

{% load static %}


{% block title %}
  Contact Us
{% endblock %}


{% block content %}

<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content">
            <h4>contact us</h4>
            <h2>let’s stay in touch!</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="down-contact">
          <div class="row">
            <div class="col-lg-8">
              <div class="sidebar-item contact-form">
                <div class="sidebar-heading">
                  <h2>Send us a message</h2>
                </div>
                <div class="content">
                  <!-- Verify that form fields are correctly defined and rendered in your template -->
                  <form method="post">
                    {% csrf_token %}
                    <input class="form-control" name="name" id="name" placeholder="Your name">
                    <input class="form-control" name="email" id="email" placeholder="Your email">
                    <textarea name="text" placeholder="Type your text ..." rows="10" cols="50"></textarea>
                    
                    <button type="submit" id="form-submit" class="main-button" value="Submit">Send Message</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sidebar-item contact-information">
                <div class="sidebar-heading">
                  <h2>contact information</h2>
                </div>
                <div class="content">
                  <ul>
                    <li>
                      <h5>090-484-8080</h5>
                      <span>PHONE NUMBER</span>
                    </li>
                    <li>
                      <h5>info@company.com</h5>
                      <span>EMAIL ADDRESS</span>
                    </li>
                    <li>
                      <h5>123 Aenean id posuere dui, 
                        <br>Praesent laoreet 10660</h5>
                      <span>STREET ADDRESS</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
    